In [4]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h1> Pandas

<h2> Series </h2>

In [6]:
s = pd.Series([2,4,-12,0,2])
s

0     2
1     4
2   -12
3     0
4     2
dtype: int64

In [7]:
s.shape

(5,)

In [8]:
s.dtype

dtype('int64')

In [9]:
s.values

array([  2,   4, -12,   0,   2], dtype=int64)

In [10]:
s[3]

0

In [11]:
s[1:3]

1     4
2   -12
dtype: int64

In [12]:
s[1:]

1     4
2   -12
3     0
4     2
dtype: int64

In [13]:
s[[True,True,False,False,True]]

0    2
1    4
4    2
dtype: int64

In [14]:
s * 2

0     4
1     8
2   -24
3     0
4     4
dtype: int64

In [15]:
s > 0

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [16]:
s [s>0]

0    2
1    4
4    2
dtype: int64

In [17]:
s.sum()

-4

In [18]:
s.mean()

-0.8

In [21]:
s.unique() #leaves the uniques elements

array([  2,   4, -12,   0], dtype=int64)

In [22]:
s.value_counts()

 2     2
 4     1
-12    1
 0     1
Name: count, dtype: int64

In [23]:
s.astype(float)

0     2.0
1     4.0
2   -12.0
3     0.0
4     2.0
dtype: float64

<h1> DataFrame </h1>

In [25]:
df = pd.DataFrame ({'a' : [1,2,3] , 'b' : [4,5,6], 'c': [7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [29]:
df = pd.read_csv("ai1\datasets\dataset_stop_and_searchA.csv")

In [30]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
5,Male,18-24,Other ethnic group - Not stated,White,Controlled drugs,A no further action disposal
6,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
7,Male,25-34,Asian/Asian British - Indian,Asian,Stolen goods,Arrest
8,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
9,Male,NaN,Other ethnic group - Any other ethnic group,Black,Controlled drugs,A no further action disposal
10,Male,NaN,White - Any other White background,White,Offensive weapons,A no further action disposal
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
12,Male,10-17,Black/African/Caribbean/Black British - African,Black,Offensive weapons,A no further action disposal
13,Male,over 34,White - Any other White background,White,Evidence of offences under the Act,A no further action disposal
14,Male,over 34,White - Any other White background,White,Stolen goods,A no further action disposal
15,Male,25-34,Black/African/Caribbean/Black British - Caribbean,Black,Offensive weapons,A no further action disposal
16,Male,25-34,Other ethnic group - Not stated,Asian,Offensive weapons,A no further action disposal
17,Male,18-24,Black/African/Caribbean/Black British - Caribbean,White,Evidence of offences under the Act,Arrest
18,Male,25-34,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,A no further action disposal
19,Male,25-34,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
20,Male,18-24,Mixed/Multiple ethnic groups - White and Black...,Black,Controlled drugs,A no further action disposal
21,Male,10-17,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
23,Male,18-24,Black/African/Caribbean/Black British - African,Black,Controlled drugs,Arrest
24,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Evidence of offences under the Act,Arrest
25,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Controlled drugs,Community resolution
26,Male,25-34,White - Any other White background,White,Offensive weapons,Arrest
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
28,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Offensive weapons,Community resolution
29,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest
31,Male,25-34,White - Any other White background,White,Stolen goods,Arrest
32,Male,25-34,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
33,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Stolen goods,A no further action disposal
34,Male,10-17,Other ethnic group - Not stated,Black,Controlled drugs,Arrest
35,Male,18-24,Other ethnic group - Not stated,Black,Offensive weapons,Arrest
36,Male,NaN,White - English/Welsh/Scottish/Northern Irish/...,White,Controlled drugs,A no further action disposal
37,Male,18-24,Other ethnic group - Not stated,Other,Controlled drugs,A no further action disposal
38,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Evidence of offences under the Act,Arrest
39,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,Arrest

In [31]:
df.columns

Index(['Gender', 'Age', 'Suspect-ethnicity', 'Officer-ethnicity',
       'Object-of-search', 'Outcome'],
      dtype='object')

In [32]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [33]:
df.shape

(40, 6)

In [35]:
df.dtypes

Gender               object
Age                  object
Suspect-ethnicity    object
Officer-ethnicity    object
Object-of-search     object
Outcome              object
dtype: object

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             40 non-null     object
 1   Age                36 non-null     object
 2   Suspect-ethnicity  40 non-null     object
 3   Officer-ethnicity  40 non-null     object
 4   Object-of-search   40 non-null     object
 5   Outcome            40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

In [37]:
df[3:5]

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution

In [40]:
df[3:8][0:3]

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
5,Male,18-24,Other ethnic group - Not stated,White,Controlled drugs,A no further action disposal

In [41]:
df.describe(include = "all")

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,40,36,40,40,40,40
unique,2,4,10,4,4,3
top,Male,18-24,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
freq,37,22,12,16,22,24

In [43]:
df['Suspect-ethnicity']

0                       Other ethnic group - Not stated
1                       Other ethnic group - Not stated
2                       Other ethnic group - Not stated
3                       Other ethnic group - Not stated
4                       Other ethnic group - Not stated
5                       Other ethnic group - Not stated
6                    White - Any other White background
7                          Asian/Asian British - Indian
8                    White - Any other White background
9           Other ethnic group - Any other ethnic group
10                   White - Any other White background
11    Black/African/Caribbean/Black British - Any ot...
12      Black/African/Caribbean/Black British - African
13                   White - Any other White background
14                   White - Any other White background
15    Black/African/Caribbean/Black British - Caribbean
16                      Other ethnic group - Not stated
17    Black/African/Caribbean/Black British - Caribbean
18    Black/African/Caribbean/Black British - Any ot...
19                      Other ethnic group - Not stated
20    Mixed/Multiple ethnic groups - White and Black...
21                      Other ethnic group - Not stated
22    White - English/Welsh/Scottish/Northern Irish/...
23      Black/African/Caribbean/Black British - African
24    White - English/Welsh/Scottish/Northern Irish/...
25    Black/African/Caribbean/Black British - Caribbean
26                   White - Any other White background
27     Asian/Asian British - Any other Asian background
28    Black/African/Caribbean/Black British - Any ot...
29     Asian/Asian British - Any other Asian background
30    Black/African/Caribbean/Black British - Any ot...
31                   White - Any other White background
32     Asian/Asian British - Any other Asian background
33    White - English/Welsh/Scottish/Northern Irish/...
34                      Other ethnic group - Not stated
35                      Other ethnic group - Not stated
36    White - English/Welsh/Scottish/Northern Irish/...
37                      Other ethnic group - Not stated
38     Asian/Asian British - Any other Asian background
39    Black/African/Caribbean/Black British - Any ot...
Name: Suspect-ethnicity, dtype: object

In [44]:
df['Suspect-ethnicity'].value_counts()

Suspect-ethnicity
Other ethnic group - Not stated                                                         12
White - Any other White background                                                       7
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background     5
White - English/Welsh/Scottish/Northern Irish/British                                    4
Asian/Asian British - Any other Asian background                                         4
Black/African/Caribbean/Black British - Caribbean                                        3
Black/African/Caribbean/Black British - African                                          2
Asian/Asian British - Indian                                                             1
Other ethnic group - Any other ethnic group                                              1
Mixed/Multiple ethnic groups - White and Black African                                   1
Name: count, dtype: int64

In [46]:
df[['Suspect-ethnicity', 'Officer-ethnicity']]

                                    Suspect-ethnicity Officer-ethnicity
0                     Other ethnic group - Not stated             Black
1                     Other ethnic group - Not stated             Asian
2                     Other ethnic group - Not stated             Asian
3                     Other ethnic group - Not stated             Asian
4                     Other ethnic group - Not stated             Asian
5                     Other ethnic group - Not stated             White
6                  White - Any other White background             White
7                        Asian/Asian British - Indian             Asian
8                  White - Any other White background             White
9         Other ethnic group - Any other ethnic group             Black
10                 White - Any other White background             White
11  Black/African/Caribbean/Black British - Any ot...             Black
12    Black/African/Caribbean/Black British - African             Black
13                 White - Any other White background             White
14                 White - Any other White background             White
15  Black/African/Caribbean/Black British - Caribbean             Black
16                    Other ethnic group - Not stated             Asian
17  Black/African/Caribbean/Black British - Caribbean             White
18  Black/African/Caribbean/Black British - Any ot...             Black
19                    Other ethnic group - Not stated             Black
20  Mixed/Multiple ethnic groups - White and Black...             Black
21                    Other ethnic group - Not stated             Asian
22  White - English/Welsh/Scottish/Northern Irish/...             Black
23    Black/African/Caribbean/Black British - African             Black
24  White - English/Welsh/Scottish/Northern Irish/...             White
25  Black/African/Caribbean/Black British - Caribbean             Black
26                 White - Any other White background             White
27   Asian/Asian British - Any other Asian background             Asian
28  Black/African/Caribbean/Black British - Any ot...             Black
29   Asian/Asian British - Any other Asian background             Asian
30  Black/African/Caribbean/Black British - Any ot...             Black
31                 White - Any other White background             White
32   Asian/Asian British - Any other Asian background             Asian
33  White - English/Welsh/Scottish/Northern Irish/...             White
34                    Other ethnic group - Not stated             Black
35                    Other ethnic group - Not stated             Black
36  White - English/Welsh/Scottish/Northern Irish/...             White
37                    Other ethnic group - Not stated             Other
38   Asian/Asian British - Any other Asian background             Asian
39  Black/African/Caribbean/Black British - Any ot...             Black

In [48]:
df.iloc[4]

Gender                                          Male
Age                                            18-24
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Asian
Object-of-search                    Controlled drugs
Outcome                         Community resolution
Name: 4, dtype: object

In [49]:
df.loc[4]

Gender                                          Male
Age                                            18-24
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Asian
Object-of-search                    Controlled drugs
Outcome                         Community resolution
Name: 4, dtype: object

In [52]:
df['Officer-ethnicity'] == 'Black'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12     True
13    False
14    False
15     True
16    False
17    False
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26    False
27    False
28     True
29    False
30     True
31    False
32    False
33    False
34     True
35     True
36    False
37    False
38    False
39     True
Name: Officer-ethnicity, dtype: bool

In [56]:
df[(df['Officer-ethnicity'] == 'Black') & (df['Object-of-search'] == 'Stolen goods')]

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest

In [77]:
df2=df[df['Gender'] == 'Female'].copy()
df2

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

In [70]:
df2.iloc[11] #Select by index

IndexError: single positional indexer is out-of-bounds

In [71]:
df2.loc[11] #Select by label

Gender                                                          Female
Age                                                              18-24
Suspect-ethnicity    Black/African/Caribbean/Black British - Any ot...
Officer-ethnicity                                                Black
Object-of-search                                          Stolen goods
Outcome                                   A no further action disposal
Name: 11, dtype: object

In [78]:
df2.reset_index(drop = True, inplace = True)

In [79]:
df2

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
1,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
2,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

In [80]:
df2 = df2[['Gender','Age','Object-of-search','Outcome']].copy()
df2

   Gender    Age  Object-of-search                       Outcome
0  Female  18-24      Stolen goods  A no further action disposal
1  Female  18-24  Controlled drugs          Community resolution
2  Female  18-24  Controlled drugs  A no further action disposal

In [81]:
df2.drop('Age',axis=1,inplace=True)

In [82]:
df2

   Gender  Object-of-search                       Outcome
0  Female      Stolen goods  A no further action disposal
1  Female  Controlled drugs          Community resolution
2  Female  Controlled drugs  A no further action disposal

<h1>Exercise</h1>

<h4>Question: Is the metropolitan police racist?</h4>

In [85]:
df = pd.read_csv("ai1\datasets\dataset_stop_and_searchB.csv")

In [86]:
df.shape

(169418, 6)

In [87]:
df.columns

Index(['Gender', 'Age', 'Suspect-ethnicity', 'Officer-ethnicity',
       'Object-of-search', 'Outcome'],
      dtype='object')

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169418 entries, 0 to 169417
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Gender             167387 non-null  object
 1   Age                154371 non-null  object
 2   Suspect-ethnicity  167433 non-null  object
 3   Officer-ethnicity  166370 non-null  object
 4   Object-of-search   168890 non-null  object
 5   Outcome            169418 non-null  object
dtypes: object(6)
memory usage: 7.8+ MB

In [94]:
df.describe(include = 'all')

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,167387,154371,167433,166370,168890,169418
unique,3,5,17,4,8,7
top,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,A no further action disposal
freq,156580,60252,30536,69333,95770,125814

In [95]:
df['Suspect-ethnicity'].value_counts()

Suspect-ethnicity
White - English/Welsh/Scottish/Northern Irish/British                                   30536
Other ethnic group - Not stated                                                         29142
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background    22094
White - Any other White background                                                      19948
Black/African/Caribbean/Black British - African                                         16730
Black/African/Caribbean/Black British - Caribbean                                       11876
Asian/Asian British - Any other Asian background                                        11082
Asian/Asian British - Bangladeshi                                                        7734
Other ethnic group - Any other ethnic group                                              4503
Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background                3105
Asian/Asian British - Pakistani                                                          3075
Asian/Asian British - Indian                                                             2704
Mixed/Multiple ethnic groups - White and Black Caribbean                                 2008
White - Irish                                                                            1555
Mixed/Multiple ethnic groups - White and Black African                                    653
Mixed/Multiple ethnic groups - White and Asian                                            412
Asian/Asian British - Chinese                                                             276
Name: count, dtype: int64

In [99]:
df[['Suspect-ethnicity','Officer-ethnicity']].value_counts()

Suspect-ethnicity                                                                     Officer-ethnicity
White - English/Welsh/Scottish/Northern Irish/British                                 White                29764
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background  Black                21675
White - Any other White background                                                    White                19168
Black/African/Caribbean/Black British - African                                       Black                16286
Other ethnic group - Not stated                                                       Black                14595
                                                                                                           ...
Asian/Asian British - Chinese                                                         White                   13
Black/African/Caribbean/Black British - Caribbean                                     Other                    9
Asian/Asian British - Chinese                                                         Other                    5
White - Irish                                                                         Asian                    2
                                                                                      Other                    1
Name: count, Length: 68, dtype: int64

In [105]:
(df[['Suspect-ethnicity','Officer-ethnicity']].value_counts()/df[['Suspect-ethnicity','Officer-ethnicity']].size)*100

Suspect-ethnicity                                                                     Officer-ethnicity
White - English/Welsh/Scottish/Northern Irish/British                                 White                8.784191
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background  Black                6.396900
White - Any other White background                                                    White                5.657014
Black/African/Caribbean/Black British - African                                       Black                4.806455
Other ethnic group - Not stated                                                       Black                4.307394
                                                                                                             ...
Asian/Asian British - Chinese                                                         White                0.003837
Black/African/Caribbean/Black British - Caribbean                                     Other                0.002656
Asian/Asian British - Chinese                                                         Other                0.001476
White - Irish                                                                         Asian                0.000590
                                                                                      Other                0.000295
Name: count, Length: 68, dtype: float64